.tab-nav-wrapper {
  margin: 0 0 40px;

  .h1 {
    margin: 0 0 18px;
  }

  @include media-breakpoint-up(lg) {
    display: flex;
    align-items: center;

    .h1 {
      margin: 0 70px 0 0;
    }
  }
}

.tab-nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0 6px 0 0;
    position: relative;

    a {
      border-radius: 13px;
      font-weight: 500;
      font-size: 16px;
      height: 24px;
      display: inline-flex;
      align-items: center;
      border: 1px solid $gray-700;
      padding: 0 19px;
      color: $gray-400;
      white-space: nowrap;

      &:hover {
        background-color: $gray-700;
      }
    }

    &.active {
      a {
        background-color: $gray-700;
      }
    }
  }
}

.tab-panel {
  transform: translateX(-150%);
  opacity: 0;
  height: 0;
  transition: opacity 0.2s;

  &.active {
    transform: translateX(0%);
    opacity: 1;
    height: auto;
  }
}

.tab-panel-inner {
  display: none;
}

.tabs-inner {
  @include glass;
  margin: 0 0 43px;

  .inner {
    padding: 32px 0 34px;
  }

  .tab-nav-inner {
    border-bottom: 1px solid rgba(36, 36, 36, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 12px;

    li {
      margin: 0 4px;

      a {
        font-weight: 500;
        font-size: 16px;
        opacity: 0.3;
      }

      &:hover,
      &.active {
        a {
          opacity: 1;
          color: $white;
        }
      }
    }
  }

  .tab-panel-inner {
    padding: 20px 18px 0;

    .panel-title {
      display: none;
    }

    ul {
      max-width: 400px;
      margin: auto;

      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #b9b9b9;
        font-size: 12px;
        line-height: 16px;
        margin: 0 0 4px;

        &:last-child {
          margin: 0;
        }
      }
    }
  }

  @include media-breakpoint-up(xl) {
    .inner {
      padding: 35px 0;
      display: flex;
      justify-content: space-between;
    }

    .tab-nav-inner {
      display: none;
    }

    .tab-panel-inner {
      width: 33.3333%;
      padding: 0 20px 0 40px;
      display: block !important;

      .panel-title {
        display: block;
        font-weight: 500;
        font-size: 18px;
        line-height: 115.6%;
        color: $white;
        margin: 0 0 14px;
      }

      ul {
        max-width: none;
      }
    }
  }
}
